PyQt6
PyQt6-Qt6
PyQt6-sip
matplotlib
numpy
numba
scipy
triangle
ezdxf
ijson
pyshp
fiona
shapely
rasterio
pyproj
PyOpenGL
pytest
pytest-qt
coverage
pytest-benchmark
memory_profiler
hypothesis
snakeviz